<section class="dc-hero">
    <div class="dc-hero-content">
        <h2>Phiếu quà tặng điện tử PNJ E-Gift</h2>
        <h1>Món quà thiết thực</h1>
        <a href="#" class="dc-btn">Khám phá ngay</a>
    </div>
</section>