<section class="dc-hero">
    <div class="dc-hero-content">
        <h2>{{ text_hero_egift_title }}</h2>
        <h1>{{ text_hero_egift_subtitle }}</h1>
        <a href="#" class="dc-btn">{{ text_hero_egift_button }}</a>
    </div>
</section>
