<div class="benefits">
    
    <div class="benefit-item">
        <img src="https://cdn.pnj.io/images/2023/relayout-pdp/shipping-icon.svg?1724816317359" />
        <div class="benefit-text">
            <span class="title">MIỄN PHÍ</span>
            <span class="desc">Giao hàng 3H</span>
        </div>
    </div>

    <div class="benefit-item">
        <img src="https://cdn.pnj.io/images/2023/relayout-pdp/shopping%20247-icon.svg?1724816239732" />
        <div class="benefit-text">
            <span class="title">PHỤC VỤ 24/7</span>
            <span class="desc">Hỗ trợ mọi lúc</span>
        </div>
    </div>

    <div class="benefit-item">
        <img src="https://cdn.pnj.io/images/2023/relayout-pdp/thudoi-icon.svg" />
        <div class="benefit-text">
            <span class="title">THU ĐỔI 48H</span>
            <span class="desc">Đổi trả dễ dàng</span>
        </div>
    </div>

</div>
<style>

</style>