{% set module = random(1000000) %}

<section class="viewed-products">

    <div class="container">

        <h3 class="section-title">{{ heading_title }}</h3>

        <div class="viewed-wrapper">

            <div id="owl-carousel-{{ module }}" class="owl-carousel product-carousel">

                {% for product in products %}
                    <div class="item">
                        {{ product }}
                    </div>
                {% endfor %}

            </div>

        </div>

    </div>

</section>


<script>
$('#owl-carousel-{{ module }}').owlCarousel({
    loop:true,
    margin:30,
    nav:true,
    dots:false,
    navText:[
        '<span class="carousel-arrow left"><i class="fa-solid fa-chevron-left"></i></span>',
        '<span class="carousel-arrow right"><i class="fa-solid fa-chevron-right"></i></span>'
    ],
    autoplay:true,
    autoplayTimeout:4000,
    responsive:{
        0:{items:1},
        576:{items:2},
        768:{items:3},
        1200:{items:4}
    }
});
</script>