<section class="dc-category">
	<div class="dc-container">
		<div class="dc-title-wrapper">
			<h2 class="dc-title">Bạn đang tìm gì hôm nay?</h2>         
		</div>

		<div class="dc-category-grid">
			{% if categories is not empty %}
				{% for category in categories|slice(0, 12) %}
					<a href="{{ category.href }}" class="dc-category-item">
						<div class="dc-category-thumb">
							<img src="{{ category.thumb }}" alt="{{ category.title }}" loading="lazy">
						</div>
						<p>{{ category.title }}</p>
					</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>